@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
src: url('Open_Sans/OpenSans-Regular.ttf');
src: local('Open Sans'), local('OpenSans'), url('Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
